
<div class="row expanded ">
  <div class="small-12 columns top-bar head">
    <div class="top-bar-left">
      <ul class="menu menu-hover-lines">

        <li class="menu-text">Examination Service</li>
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><a  [routerLink]="['/']">Home</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/question']">Question Input</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/exam']">Exam Generator</a></li>
      </ul>
    </div>
  </div>
</div>

