<div class="column row card"  >
  <h1>New Examination Generator</h1>
  <br>
<form #formData="ngForm" novalidate
      (ngSubmit)="onSubmit(formData)"
      [formGroup]="examForm">
  <div class="row" *ngFor="let tag of tag$ | async" >
    <div class="small-4 columns">
      <label for="middle-label" class=" middle"><h4>{{tag.name}}</h4></label>
    </div>
    <div class="small-8 columns">
      <input type="number" id="middle-label" placeholder="Number of Questions">
    </div>
  </div>
  <input class="button large expanded " type="submit" value="Generate Examination">
</form>
</div>
