<div *ngIf="key" class="column row card">
  <h4 class="text-center">{{key}}</h4>
</div>
<div *ngIf="!key" class="column row card">
  <input type="text" placeholder="Input Examination ID"
         (keyup)="findExamById($event)" value="">
</div>
<div *ngIf="key" class="column row card">
  <h2>The exam will contain: </h2>
  <br>
  <div *ngFor="let e of curExam | async ">
    <h4>Descipline: {{e.discipline}} | Questions: {{e.questionsCount}}</h4>

  </div>
  <br>
</div>

<br>
  <h2 class="text-center" *ngIf="key">The Examination</h2>
  <br>
  <div *ngFor="let e of finalQuestionSet; let i = index  "
       class="column row card">
    <h4>{{e.tag}} Question:</h4>
    <h6>{{e.questionInput}}</h6>
    <hr>
    <h4>Answers Options:</h4>
    <p><b>1.</b> {{e.answerOne}}</p>
    <p><b>2.</b>  {{e.answerTwo}}</p>
    <p><b>3.</b> {{e.answerThree}}</p>
    <p><b>4.</b> {{e.answerFour}}</p>

    <hr>
    <div class="fields" >
      <h4>Choose correct answer</h4>
      <!--<span class="error" *ngIf="tagMsg">{{ tagMsg }}</span>-->

      <select #select (click)="setUserAnswer(i, select.value )" >

        <option value="" selected>Choose </option>
        <option value="1" >1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select >
    </div>

    <br>
  </div>
<br>
<input *ngIf="key" type="button"
       class="button large column row float-center"
       value="Save Examination" (click)="saveExam()">
