<div class="row align-center container">
  <div class="small-12 medium-6 columns">
    <div class="card">
      <h2>New Question</h2>

      <!--form-->
      <form #formData='ngForm' novalidate
            (ngSubmit)="onSubmit(formData)"
            [formGroup]="questionInputForm">
            <!--[formGroup]="questionInputForm">-->

        <!--question input-->
        <div class="fields">
          <h5>Discipline</h5>
          <select  [(ngModel)]="selectedTag"
                   class="form-control"
                    id="tag"
                    formControlName="tag">
            <option *ngFor="let tag of tag$ | async" >{{tag.name}}</option>
            </select >
        </div>
        <!--question input-->
        <div class="fields">
          <h5>Question</h5>
          <textarea [ngClass]="{'has-error': question}" class="form-control"
                 id="question"
                 type="text"
                 placeholder="Question"
                 formControlName="question"></textarea>
        </div>
        <!--answer-->
        <h5>Answers</h5>

        <div class="fields">
          <textarea [ngClass]="{'has-error': answerOne}" class="form-control"
                 id="answerOne"
                 type="text"
                 placeholder="Answer One"
                 formControlName="answerOne"></textarea>

        </div>

        <div class="fields">
          <textarea [ngClass]="{'has-error': answerTwo}" class="form-control"
                    id="answerTwo"
                    type="text"
                    placeholder="Answer Two"
                    formControlName="answerTwo"></textarea>

        </div>

        <div class="fields">
          <textarea [ngClass]="{'has-error': answerThree}" class="form-control"
                    id="answerThree"
                    type="text"
                    placeholder="Answer Three"
                    formControlName="answerThree"></textarea>

        </div>

        <div class="fields">
          <textarea [ngClass]="{'has-error': answerFour}" class="form-control"
                    id="answerFour"
                    type="text"
                    placeholder="Answer Four"
                    formControlName="answerFour"></textarea>

        </div>

        <div class="fields">
        <fieldset class="large-6 columns">
          <h5>Correct Answer</h5>
          <input type="radio" name="correctAnswer" value="0" id="one" formControlName="correctAnswer"><label for="one">Answer One</label>
          <input type="radio" name="correctAnswer" value="1" id="two" formControlName="correctAnswer"><label for="two">Answer Two</label>
          <input type="radio" name="correctAnswer" value="2" id="three" formControlName="correctAnswer"><label for="three">Answer Three</label>
          <input type="radio" name="correctAnswer" value="3" id="four" formControlName="correctAnswer"><label for="four">Answer Four</label>
        </fieldset>
        </div>
        <!--button-->
        <div class="fields">
          <button type="button" class="button expanded" [disabled]="!questionInputForm.valid && questionInputForm.touched">
            Add Question
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
