
<div class="column row card" >

<h1>All Questions</h1>
  <br>

  <select  #filtred [(ngModel)]="filteredStatus">

    <option  value="">Choose Discipline</option>
    <option  *ngFor="let tag of tag$ | async" value="{{tag.name}}">{{tag.name}}</option>
  </select >

  <br>
  <br>
<div *ngFor="let q of (question$ | async) | reverse | filter:filteredStatus:'tag' " >
  <h4 *ngIf="q.tag" class="primary label">Descipline: {{q.tag}}</h4>
  <br>
  <h6 >Question: </h6>
  <h6 *ngIf="q.questionInput" >{{q.questionInput}}</h6>
  <h6>Answers Options:</h6>
  <p *ngIf="q.answerOne" ><b>1.</b> {{q.answerOne}}</p>
  <p *ngIf="q.answerTwo" ><b>2.</b> {{q.answerTwo}}</p>
  <p *ngIf="q.answerThree" ><b>3.</b> {{q.answerThree}}</p>
  <p *ngIf="q.answerFour" ><b>4.</b> {{q.answerFour}}</p>
  <br>
  <input type="button" class="button alert" value="Delete" (click)="deleteQuestion(q.$key)">
  <hr>
  <br>
</div>
</div>


