
<div class="card" >

<h1>All Questions</h1>
  <br>

  <select  #filtred [(ngModel)]="filteredStatus">

    <option  value="">Choose Discipline</option>
    <option  *ngFor="let tag of tag$ | async" value="{{tag.name}}">{{tag.name}}</option>
  </select >


  <br>
<div *ngFor="let q of (question$ | async) | reverse | filter:filteredStatus:'tag' " >
  <h6 *ngIf="q.tag" >Descipline: {{q.tag}}</h6>
  <h6 >Question: </h6>
  <h6 *ngIf="q.questionInput" >{{q.questionInput}}</h6>
  <h6>Answers Options:</h6>
  <p *ngIf="q.answerOne" >1. {{q.answerOne}}</p>
  <p *ngIf="q.answerTwo" >2. {{q.answerTwo}}</p>
  <p *ngIf="q.answerThree" >3. {{q.answerThree}}</p>
  <p *ngIf="q.answerFour" >4. {{q.answerFour}}</p>
  <br>
  <hr>
</div>
</div>


